{% extends "::base.html.twig" %}

{% block title %}CruzTodoBundle:Post:create{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cruz/css/todo.css') }}" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendor/angularjs/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/cruz/js/todo.js') }}"></script>
{% endblock %}

{% block body %}
<div ng-app="todoApp" ng-controller="todoCrl">
	<h1>List of To-Dos</h1>
	<div class="well well-lg">
		<form role="form" ng-submit="addTodo()">
			<div class="form-group" style="margin-bottom: 0;">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="New todo" ng-model="todoText" maxlength="40" autofocus>
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" type="submit">Create!</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</form>
	</div>

	<ul class="todos list-unstyled">
		<li ng-repeat="todo in todos">
			<div class="checkbox" ng-class="{completed: todo.completed}">
				<label>
					<input type="checkbox" ng-model="todo.completed">
					<span ng-bind="todo.text"></span>
				</label>
			</div>
		</li>
	</ul>
</div><!-- /TodoController -->
{% endblock %}
